<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<body>

		<script>
			var app = angular.module("myShoppingList", []); 
			app.controller("myCtrl", function($scope) {
				$scope.products = ["Milk", "Bread", "Cheese"];
				$scope.addItem = function () {
					$scope.errormessage = "";
				    if (!$scope.item) {
				    	$scope.errormessage = "Please type the new item name above.";
				    	return;
				    }
				    if ($scope.products.indexOf($scope.item) == -1) {
				        $scope.products.push($scope.item);
				    } 
				    else
				    {
				        $scope.errormessage = "Item already exists.";
					}
				}
				$scope.removeItem = function (x) {
					$scope.products.splice(x, 1);
				}
			});
		</script>

		<div ng-app="myShoppingList" ng-controller="myCtrl">
			<ul>
				<li ng-repeat="x in products">
				{{x}}<span ng-click="removeItem($index)">&times;</span>
				</li>

		  	</ul>

		    <input ng-model="item">
		    <button ng-click="addItem()">Add</button>
		    <p>{{errormessage}}</p>
		</div>

		

	</body>
</html>
